.ui.positive.message
    !{ messages()}
form.ui.form(action="",method="POST")
    div.field 


        label Category
        input(type="text",name="category",placeholder="category")

    button.ui.primary.buttton(type="submit") Add