extends layout

block content
  .ui.three.column.stackable.grid
    for post in posts
      .column
        .ui.raised.segment
          img(src='/#{post.imagePath}',heigth="150px",width="185px")
          a(href="")
            h1 #{post.title}
          h5 published on #{post.date}
          p #{post.body}
 

