 
html
  head
    title= title
    link(rel='stylesheet', href='/semantic/dist/semantic.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=your_API_key')
      |   
      script.
        tinymce.init({
        selector: '#mytextarea'
        });

    script(src='/semantic/dist/semantic.js')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src='/semantic/dist/components/transition.min.js')
    script(src='/semantic/dist/components/dropdown.min.js')
    script.
      $(".close.icon").click(function(){$(this).parent().hide(););

  body
    script(src='/semantic/dist/semantic.js')

    div.ui.fixed.borderless.inverted.menu 
      div.ui.text.container
        
        a.active.item(href='/') 
          i.home.icon 
          |Home
        a.item(href='/contact')
          | Contact Us 
      
         
        .ui.inverted.transparent.icon.input
          input(type='text', placeholder='Search...')
          i.search.icon

        div.right.item 
          if !user
            a.item(href='/users/login')
              i.sign-in.icon 
              |Sign In 
            a.item(href='/users/register') 
              i.user.icon
              |Register
          if user 
            a.item(href='/admin')
              i.id.card.outline.icon 
              |Dashboard 
            a.item(href='/users/logout') 
              i.sign-out.icon
              |Log Out
    img.ui.fluid.image(src="/images/header.jpeg")
    br
    
    br    
    div.ui.left.aligned.container
      .ui.positive.message  
          i.close.icon   
        if messages()
          !{messages()}
      block content

    .ui.inverted.footer.segment
      .ui.container
          |&copy; All Rights Reserved For Danial Dehvan

    script.
        $(".close.icon").click(function(){$(this).parent().hide();});


