extends layout


block content 
    if errors 
        for error in errors 
            div.ui.negative.message
             i.close.icon
             | #{error.msg}
    if success 
        div.ui.positive.message
            i.close.icon
            | your post published successfully

    form.ui.form(action="",method="POST",enctype="multipart/form-data")
        div.field 
            label Title : 
            div.ui.left.icon.input
                i.clipboard.icon 
                input(type="text",name="title",placeholder="title")
        div.field 
            .two.fields
                .field
                    if categories
                        label Category
                        select.ui.fuild.dropdown(name="category")
                        
                            for category in categories 
                                option(value="#{category.title}")
                                    |#{category.title}
                .field
                    br 
                    a.ui.button(href="/admin/addcategory" target="_blank" ) Add Categories
                
                    
        div.field 
            label Image : 
            input(type="file",name="image")
            
            
        div.field 
            label body : 
            textarea(name="body", cols="30", rows="10",id="body")
               
        button.ui.primary.button(type="submit") Publish  
        script(src='/ckeditor/ckeditor.js')
        script
            | CKEDITOR.replace('body');